@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif !important;
}

.App {
  min-height: 100vh;
}

body {
  margin: 0;
}


body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
